#### SQLite
    - RDBMS(관계형 데이터 베이스)
    - 서버가 아니라 응용 프로그램에 넣고 사용하는 가벼운 데이터베이스
    - python, 핸드폰, 스프링부트

In [4]:
import sqlite3
import datetime

print("sqlite3 version",sqlite3.version)
print("sqlite3 version",sqlite3.sqlite_version)

now = datetime.datetime.now() # 모듈명.클래스명.메소드명
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print("date",nowDateTime)

sqlite3 version 2.6.0
sqlite3 version 3.42.0
date 2023-06-23 11:36:34

In [5]:
from datetime import datetime
print(datetime.now())

2023-06-23 11:36:36.562093

#### 데이터베이스 생성

In [6]:
conn = sqlite3.connect("/source/pythonsource/resource/test.db",isolation_level=None)

In [7]:
cursor = conn.cursor()

In [12]:
cursor.execute("create table if not exists users(id integer primary key, username text, email text,"
               " phone text, website text, regdate text)")

In [16]:
cursor.execute("insert into users(id,username,email,phone,website,regdate)"
               " values(1, 'Kim','kim@naver.com','010-1234-1234','kim.com',?)",(nowDateTime,)) # 튜플

In [17]:
cursor.execute("insert into users(id,username,email,phone,website,regdate)"
               " values(?,?,?,?,?,?)",(2, 'Park','Park@naver.com','010-4567-4567','park.com',nowDateTime)) # 튜플

In [18]:
userList = ((3, 'Kang','Kang@naver.com','010-4253-4663','Kang.com',nowDateTime),
            (4, 'Choi','Choi@naver.com','010-9787-6587','Choi.com',nowDateTime),
            (5, 'Lee','Lee@naver.com','010-1341-5462','Lee.com',nowDateTime))

cursor.executemany("insert into users(id,username,email,phone,website,regdate)"
                   " values(?,?,?,?,?,?)",userList)

In [11]:
cursor.execute("delete from users")

In [15]:
# rowcount : 삭제된 행 개수
cursor.execute("delete from users").rowcount

4

데이터 조회
    - fetchone(), fetchmany(), fetchall()

In [28]:
cursor.execute("select * from users")

In [29]:
cursor.fetchone()

(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 11:36:34')

In [30]:
cursor.fetchmany(size=2)

[(2,
  'Park',
  'Park@naver.com',
  '010-4567-4567',
  'park.com',
  '2023-06-23 11:36:34'),
 (3,
  'Kang',
  'Kang@naver.com',
  '010-4253-4663',
  'Kang.com',
  '2023-06-23 11:36:34')]

In [31]:
cursor.fetchall()

[(4,
  'Choi',
  'Choi@naver.com',
  '010-9787-6587',
  'Choi.com',
  '2023-06-23 11:36:34'),
 (5,
  'Lee',
  'Lee@naver.com',
  '010-1341-5462',
  'Lee.com',
  '2023-06-23 11:36:34')]

In [34]:
cursor.execute("select * from users")

for c in cursor.fetchall():
    print(c)

(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 11:36:34')
(2, 'Park', 'Park@naver.com', '010-4567-4567', 'park.com', '2023-06-23 11:36:34')
(3, 'Kang', 'Kang@naver.com', '010-4253-4663', 'Kang.com', '2023-06-23 11:36:34')
(4, 'Choi', 'Choi@naver.com', '010-9787-6587', 'Choi.com', '2023-06-23 11:36:34')
(5, 'Lee', 'Lee@naver.com', '010-1341-5462', 'Lee.com', '2023-06-23 11:36:34')

In [35]:
for c in cursor.execute("select * from users order by id desc"):
    print(c)

(5, 'Lee', 'Lee@naver.com', '010-1341-5462', 'Lee.com', '2023-06-23 11:36:34')
(4, 'Choi', 'Choi@naver.com', '010-9787-6587', 'Choi.com', '2023-06-23 11:36:34')
(3, 'Kang', 'Kang@naver.com', '010-4253-4663', 'Kang.com', '2023-06-23 11:36:34')
(2, 'Park', 'Park@naver.com', '010-4567-4567', 'park.com', '2023-06-23 11:36:34')
(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 11:36:34')

In [41]:
cursor.execute("select * from users where id=?",(3,))
cursor.fetchall()

[(3,
  'Kang',
  'Kang@naver.com',
  '010-4253-4663',
  'Kang.com',
  '2023-06-23 11:36:34')]

In [42]:
cursor.execute("select * from users where id=%d" % 4)
cursor.fetchall()

[(4,
  'Choi',
  'Choi@naver.com',
  '010-9787-6587',
  'Choi.com',
  '2023-06-23 11:36:34')]

In [43]:
cursor.execute("select * from users where id in (?,?)", (3,5))
cursor.fetchall()

[(3,
  'Kang',
  'Kang@naver.com',
  '010-4253-4663',
  'Kang.com',
  '2023-06-23 11:36:34'),
 (5,
  'Lee',
  'Lee@naver.com',
  '010-1341-5462',
  'Lee.com',
  '2023-06-23 11:36:34')]

In [44]:
cursor.execute("select * from users where id in (%d,%d)" % (3,5))
cursor.fetchall()

[(3,
  'Kang',
  'Kang@naver.com',
  '010-4253-4663',
  'Kang.com',
  '2023-06-23 11:36:34'),
 (5,
  'Lee',
  'Lee@naver.com',
  '010-1341-5462',
  'Lee.com',
  '2023-06-23 11:36:34')]

In [45]:
cursor.execute("update users set username = ? where id = ?",('Young',2))

In [49]:
cursor.execute("update users set username = '%s' where id = '%d'" % ('Park',2))

In [50]:
cursor.execute("delete from users where id=?",(5,))

In [51]:
cursor.execute("delete from users where id=%d" % 4)